.features {
    padding: 21px 30px 0;
}

.features__title {
    display: flex;
    flex-direction: column;
    justify-content: start;

    h2 {
        margin: 0;
        font-size: 25px;
    }

    p {
        font-size: 17px;
        font-weight: bold;
        color: #63d1bb;
        margin-top: 4px;
        margin-bottom: 12px;
    }
}

.features__description p {
    font-size: 15px;
    line-height: 24px;
}

// таблица
.features__table {
    font-size: 15px;
    line-height: 20px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 25px;
}

.features__row {
    border-bottom: 1px solid #ececec;
}

td:first-child {
    width: 37%;
}

.features__cell {
    padding: 10px 0;
}

.features img {
    max-width: 100%;
    height: auto;
}

//цена
.features__order {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 9px;


    .features__price,
    .features__price-value {
        font-size: 17px;
        font-weight: bold;
        line-height: 24px;
    }
}

//кнопка "заказать"
.btn {
    display: inline-block;
    padding: 15px 0;
    border: 2px solid #444;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: #444;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    width: 100%;
    box-sizing: border-box;
}