.content {
    min-width: 320px;
    min-height: 490px;
    padding-top: 47px;
    background: #fff url("../img/hero-mobile.jpg");
    background-position-x: center;
    background-position-y: -18px;
    background-repeat: no-repeat;
    text-align: center;
    //display: flex;
    //flex-direction: column;
    position: relative;

    @media (min-width: 768px) {
        background: #fff url("../img/hero-desktop.jpg");
        background-position-x: center;
        background-position-y: 0;
        background-repeat: no-repeat;
        min-width: 768px;
        min-height: 746px;
        padding-top: 121px;
    }

    @media (min-width: 1150px) {
        padding-top: 110px;
    }

    &__head {
        padding: 0 30px 0;

        @media (min-width: 768px) {
            padding: 0 47px 0;
        }

        @media (min-width: 1150px) {
            padding: 0 209px 0;
        }
    }

    h2 {
        font-size: 27px;

        @media (min-width: 768px) {
            font-size: 43px;
            line-height: 50px;
        }

        @media (min-width: 1150px) {
            font-size: 53px;
            line-height: 57px;
        }
    }

    // Предметы интерьера и детские игрушки
    &__extra-wrap {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 9px;
        width: 100%;

        @media (min-width: 768px) {
            flex-direction: row;
            bottom: 0px;
            padding: 0 50px;
        }

        @media (min-width: 1150px) {
            padding: 0 100px;
        }
    }

    .content__extra {
        display: flex;
        padding: 9px 30px;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 768px) {
            flex-basis: 100%;
        }

        @media (min-width: 1600px) {
            padding: 2.5vw 30px;
        }
    }

    .content__extra_thing {
        background-color: #63d1bb;
    }

    .content__extra_plaything {
        background-color: #56c3b2;
    }

    p {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
    }

    img {
        display: none;

        @media (min-width: 768px) {
            position: absolute;
            bottom: -15px;
            display: block;
            min-width: 100%;
            height: auto;
        }
    }
}